.menuContainer{
   display: flex;
   align-items: center;
}

.menuContainer header{
    max-width: 100%;
    height: 10rem;

    background: var(--background);
    color: var(--text);


    font-size:12px;

}